* {
    box-sizing: border-box;
}

body {
    margin: 0; /* independente do tamanho do navegador, vai sempre começar pela borda 0 */
    background-color: #171A1C;
}

a {
    text-transform: none; /* tirar o sublinhado dos links */
    color: white;
}

#mainbox {
    width: 80%;
    background-color: #495688;
    min-height: 90vh;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    width: 100%;
    display: block;
}

main {
    display: flex;
    flex-wrap: nowrap; /* manter a div posicionada sem ser flexível */
    justify-content: space-between; /* calcula automaticamente os espaços entre as divs dentro pra ficar igual os espaçamentos */
    padding: 10px; /* o padding serve pra colocar margens ao redor da div, às vezes funciona melhor que o margin porque o margin pode não ficar distribuído igualmente ao redor */
}

#content {
    background-color: #6D7C60;
    width: 74%;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
}

#lateral {
    background-color: #6D7C60;
    width: 25%;
    border-radius: 7px;
    padding: 10px;
}

#lateral h1 {
    font-size: 1.7rem;
    text-align: center;
}

#lateral h2 {
    font-size: 1.2rem;
}

footer {
    background-color: #FFFB24;
    height: 50px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center; /* Para textos dentro, se houver */
}

nav {
    background-color: rgb(255, 251, 36);
    width: 65%;
    height: 40px;
    margin-top: 20px;
    float: right; /* ajuda a div a ficar flutuando ao invés de configurar margens fixas */
    border-radius: 7px;
    padding: 10px;
}

nav a {
    color: #495688; /* Mude para a cor que você preferir */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold; /* opcional: deixa em negrito */
    transition: color 0.3s ease; /* transição suave para mudança de cor */
    margin-left: 5px;
    margin-right: 5px;
    /* font-variant: small-caps; pra deixar a font em maiúscula, porém pequenas */
}

nav a:hover {
    color: #6D7C60; /* Muda cor no hover (opcional) */
}

nav a:visited {
    color: #1F3760;
}

section {
    border-radius: 5px;
    width: 95%;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

#texto {
    display: block;
}

#destaques {
    background-color: #FFFB24;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

.artistas {
    background-color: #732724;
    width: 22%;
    border: 2px solid #495688;
}

.artistas img {
    height: auto;
    width: 100%;
}
