* {
    box-sizing: border-box;
}

body {
    margin: 0; /* independente do tamanho do navegador, vai sempre começar pela borda 0 */
    background-color: #171A1C;
}

a {
    text-transform: none; /* tirar o sublinhado dos links */
    color: white;
}

#mainbox {
    width: 80%;
    background-color: #495688;
    min-height: 90vh;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    width: 100%;
    display: block;
}

#maincontent {
    display: flex;
    flex-wrap: nowrap; /* manter a div posicionada sem ser flexível */
    justify-content: space-evenly; /* calcula automaticamente os espaços entre as divs dentro pra ficar igual os espaçamentos */
}

#content {
    background-color: #FED512;
    width: 70%;
    margin: 10px;
}

#lateral {
    background-color: #FED512;
    width: 25%;
    margin: 10px;
}

#footer {
    background-color: #101b0f;
    color: white;
}